#  Environment Variables for FitCheck

# Database connection string
DATABASE_URL=postgresql://fitcheck_user:fitcheck_password@localhost/fitcheck

# Secret key for JWT token generation
SECRET_KEY=supersecretkey

# Optional: Port and Host Configuration
# UVICORN_HOST=127.0.0.1
# UVICORN_PORT=8000